<div class="container" *ngIf="therapists.length > 0">
    <div class="row align-items-center mb-4">
        <div class="col-lg-4 col-md-6 mb-4 align-self-stretch" *ngFor="let therapist of therapists">
            <div class="card h-100">
                <div class="card-body">
                    <div class="mb-3 text-center">
                        <img class="d-inline-block img-fluid rounded-circle profile-pic" height="200" width="200" [src]="therapist?.profilePicFile"/>
                    </div>
                    <h5 class="fw-bold mb-3 text-primary text-center">
                        {{ therapist?.nameEn }}
                    </h5>
                    <div class="mb-3 text-muted text-center">{{ therapist?.titleEn}} </div>
                </div>
                <div class="card-footer p-0 border-0">
                    <div class="row justify-content-center g-0">
                        <button class="btn btn-primary rounded-0 col">Book Now</button>
                        <button class="btn btn-secondary rounded-0 col">View Profile</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" *ngIf="pagination">
        <nav class="col-auto" aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" [ngClass]="pagination.page != 1 ? '' : 'disabled'" (click)="prevPage(pagination.page)" href="javascript:void(0)">Previous</a></li>
                <li class="page-item"><a class="page-link" *ngIf="pagination.prePage" href="javascript:void(0)" (click)="prevPage(pagination.page)">{{ pagination.prePage }}</a></li>
                <li class="page-item"><a class="page-link active" *ngIf="pagination.page" href="javascript:void(0)">{{ pagination.page }}</a></li>
                <li class="page-item"><a class="page-link" *ngIf="pagination.nextPage" href="javascript:void(0)" (click)="nextPage(pagination.page)">{{ pagination.nextPage }}</a></li>
                <li class="page-item"><a class="page-link" [ngClass]="pagination.nextPage != null ? '' : 'disabled'" (click)="nextPage(pagination.page)" href="javascript:void(0)">Next</a></li>
            </ul>
        </nav>
    </div>
</div>